# Interpolate

In [1]:
import pandas as pd

var = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//Interpolate.csv")

var

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,NaN,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,NaN,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,NaN,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,NaN,NaN,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,NaN,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,NaN,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,NaN,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

interpolate function is used to fill the the data automatically

In [2]:
var.interpolate()

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/1566664964.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate()

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,4533.5,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,104147.0,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,97919.0,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,91691.0,48066.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,85463.0,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,79235.0,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,73007.0,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,66779.0,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

Note - Interpolate function only works on the number.(It doesn't works on the alphabet)

In [3]:
var.interpolate("linear")

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/2695233440.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate("linear")

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,4533.5,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,104147.0,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,97919.0,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,91691.0,48066.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,85463.0,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,79235.0,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,73007.0,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,66779.0,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

In [4]:
var.interpolate("zero")

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/1015914656.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate("zero")

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,711.0,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,110375.0,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,110375.0,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,110375.0,8357.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,110375.0,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,110375.0,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,110375.0,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,110375.0,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

In [5]:
var.interpolate("linear",axis=0)

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/515314727.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate("linear",axis=0)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,4533.5,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,104147.0,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,97919.0,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,91691.0,48066.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,85463.0,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,79235.0,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,73007.0,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,66779.0,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

above code column/column data ko fill karne ke kaam aata hai

now agar hme row/row data ko fill krna hai then

In [7]:
# var.interpolate("linear",axis=1) agar axis=1 ka use kr rhe hai to use case me datatype sare row and column ka same hona chahiye otherwise it will give an error.

agar hm kuchh ki data ko fill karna chahte hai than us case me hm limit parameter ka use karte hai

In [8]:
var.interpolate(limit=2)

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/545238221.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit=2)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,4533.5,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,104147.0,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,97919.0,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,NaN,48066.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,NaN,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,NaN,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,NaN,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

Note - hm limit ki direction ko bhi de skte hai forword,backword or both etc.

In [10]:
var.interpolate(limit_direction="forward",limit=2)

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/985317805.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_direction="forward",limit=2)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,4533.5,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,104147.0,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,97919.0,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,NaN,48066.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,NaN,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,NaN,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,NaN,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

In [11]:
var.interpolate(limit_direction="backward",limit=2)

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/953987601.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_direction="backward",limit=2)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,4533.5,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,NaN,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,NaN,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,NaN,48066.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,NaN,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,73007.0,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,66779.0,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

In [12]:
var.interpolate(limit_direction="both",limit=2)

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/3871155077.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_direction="both",limit=2)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,4533.5,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,104147.0,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,97919.0,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,NaN,48066.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,NaN,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,73007.0,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,66779.0,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

limit_area ye hme btata hai ki interpolate use karna hai ya nhi,hm uska area specify kr skte hai.

In [13]:
var.interpolate(limit_area="inside")

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/996392095.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_area="inside")

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,4533.5,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,104147.0,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,97919.0,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,91691.0,48066.0,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,85463.0,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,79235.0,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,73007.0,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,66779.0,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

above inside limit ke andar jitne bhi blank data hai usko fill karke de dega.

and outside ka use karne se ye sari NaN value ko rakhata hai

In [14]:
var.interpolate(limit_area="outside")

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_31028/1123960867.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(limit_area="outside")

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTHERM,Electrotherm (India) Limited,473907.0,9457.0,50.110003
1,2,NBIFIN,N. B. I. Industrial Finance Com,5754.0,154.0,37.202586
2,3,HINDCON,Hindcon Chemicals Limited,304759.0,9248.0,32.953450
3,4,GKWLIMITED,GKW Limited,21375.0,711.0,30.049203
4,5,21STCENMGM,21st Century Management Ser,110375.0,NaN,31.049203
5,6,ALPHAGEO,Alphageo (India) Limited,NaN,8356.0,27.852613
6,7,UNIENTER,Uniphos Enterprises Limited,NaN,8357.0,21.528002
7,8,JAGSNPHARM,Jagson Pharmaceuticals Limited,NaN,NaN,17.801420
8,9,SKMEGGPROD,SKM Egg Products Export (India) Limited,NaN,87775.0,18.801420
9,10,SWELECTES,Swelect Energy Systems Limited,NaN,87776.0,16.938733
10,11,NAHARPOLY,Nahar Poly Films Limited,NaN,38574.0,15.555297
11,12,PODDARHOUS,Poddar Housing and Development Limited,NaN,3012.0,15.283833
12,13,LINC,Linc Limited,60551.0,4076.0,14.853673
13,14,LINC123,Linc Limited123,60550.0,4075.0,15.853673

inplace - agar hm apne data ko original data ke andar place karana chahte hai to us case me inplace function ka use karte hai.

and agar hme multiple copy banani hoti hai to inplace ko False karte hai

In [24]:
var.interpolate(limit_direction="both",limit=2,inplace=True)

In [27]:
var

    NO.  SYMBOL  SECURITY  TODAY - VOLUME  AVG. VOLUME     CHANGE
0     1     NaN       NaN        473907.0       9457.0  50.110003
1     2     NaN       NaN          5754.0        154.0  37.202586
2     3     NaN       NaN        304759.0       9248.0  32.953450
3     4     NaN       NaN         21375.0        711.0  30.049203
4     5     NaN       NaN        110375.0       4533.5  31.049203
5     6     NaN       NaN        104147.0       8356.0  27.852613
6     7     NaN       NaN         97919.0       8357.0  21.528002
7     8     NaN       NaN         91691.0      48066.0  17.801420
8     9     NaN       NaN         85463.0      87775.0  18.801420
9    10     NaN       NaN         79235.0      87776.0  16.938733
10   11     NaN       NaN         73007.0      38574.0  15.555297
11   12     NaN       NaN         66779.0       3012.0  15.283833
12   13     NaN       NaN         60551.0       4076.0  14.853673
13   14     NaN       NaN         60550.0       4075.0  15.853673