# Pandas Functions

In [6]:
import pandas as pd

csv_1 = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//stock_data.csv")

csv_1

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.110003
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586
2,HINDCON,Hindcon Chemicals Limited,304759,9248,32.953450
3,GKWLIMITED,GKW Limited,21375,711,30.049203
4,21STCENMGM,21st Century Management Services,110375,3879,28.450831
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613
6,UNIENTER,Uniphos Enterprises Limited,162601,7553,21.528002
7,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892,73134,17.801420
8,SKMEGGPROD,SKM Egg Products Export (India) Ltd,1541130,87775,17.557733
9,SWELECTES,Swelect Energy Systems Limited,207954,12276,16.938733
10,NAHARPOLY,Nahar Poly Films Limited,600043,38574,15.555297
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833
12,LINC,Linc Limited,60551,4076,14.853673
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.823425
15,DSSL,Dynacons Systems & Solutions Limited,263641,23439,11.247963
16,ANDREWYU,Andrew Yule & Company Limited,2448026,230048,10.641332
17,LAXMICOT,Laxmi Cotspin Limited,198503,19007,10.443312
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049914
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.011751
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569318
22,ALKALI,Alkali Metals Limited,157496,19059,8.263315
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959
24,INDORAMA,Indo Rama Synthetics (India) Limited,679204,89288,7.606862

agar hme sirf index get krna hai then use

In [7]:
csv_1.index

RangeIndex(start=0, stop=25, step=1)

agar hme sirf column get krna hai then use

In [8]:
csv_1.columns

Index(['SYMBOL', 'SECURITY', 'TODAY - VOLUME', 'AVG. VOLUME', 'CHANGE'], dtype='object')

agar hme sare integer value ka count,mean,std,min,25%,50% etc chahiye than use describe function

In [9]:
csv_1.describe()

       TODAY - VOLUME    AVG. VOLUME     CHANGE
count    2.500000e+01      25.000000  25.000000
mean     8.025246e+05   71237.280000  17.885833
std      1.397036e+06  139964.776177  10.809391
min      5.754000e+03     154.000000   7.606862
25%      1.574960e+05    8356.000000  10.049914
50%      3.047590e+05   19059.000000  14.853673
75%      7.053220e+05   82307.000000  21.528002
max      6.864080e+06  685602.000000  50.110003

agar hme sheet ke andar ke fixed amount of data ko dekhana hai than use head & tail function (for above and bottom) by default it shows 5

In [10]:
csv_1.head(2)

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.110003
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586

In [12]:
csv_1.tail()

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569318
22,ALKALI,Alkali Metals Limited,157496,19059,8.263315
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959
24,INDORAMA,Indo Rama Synthetics (India) Limited,679204,89288,7.606862

agar hm chahte hai ki starting se lekar hme 1no. tk ka data mil jaye than [:2] similar like string slicing

In [13]:
csv_1[:2]

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.110003
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586

agar hme kisi particular range ka data chahiye then use

In [14]:
csv_1[6:11]

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
6,UNIENTER,Uniphos Enterprises Limited,162601,7553,21.528002
7,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892,73134,17.801420
8,SKMEGGPROD,SKM Egg Products Export (India) Ltd,1541130,87775,17.557733
9,SWELECTES,Swelect Energy Systems Limited,207954,12276,16.938733
10,NAHARPOLY,Nahar Poly Films Limited,600043,38574,15.555297

In [15]:
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

agar hme csv file ke index ko array me dikhana chahte hai than use

In [16]:
csv_1.index.array

<NumpyExtensionArray>
[ np.int64(0),  np.int64(1),  np.int64(2),  np.int64(3),  np.int64(4),
  np.int64(5),  np.int64(6),  np.int64(7),  np.int64(8),  np.int64(9),
 np.int64(10), np.int64(11), np.int64(12), np.int64(13), np.int64(14),
 np.int64(15), np.int64(16), np.int64(17), np.int64(18), np.int64(19),
 np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24)]
Length: 25, dtype: int64

ise hm numpy array me bhi convert kr skte hai

In [17]:
csv_1.to_numpy()

array([['ELECTTHERM', 'Electrotherm (India) Limited', 473907, 9457,
        50.11000282],
       ['NBIFIN', 'N. B. I. Industrial Finance Company', 5754, 154,
        37.20258621],
       ['HINDCON', 'Hindcon Chemicals Limited', 304759, 9248,
        32.95345023],
       ['GKWLIMITED', 'GKW Limited', 21375, 711, 30.04920337],
       ['21STCENMGM', '21st Century Management Services', 110375, 3879,
        28.45083129],
       ['ALPHAGEO', 'Alphageo (India) Limited', 232755, 8356,
        27.85261268],
       ['UNIENTER', 'Uniphos Enterprises Limited', 162601, 7553,
        21.52800212],
       ['JAGSNPHARM', 'Jagsonpal Pharmaceuticals Limited', 1301892,
        73134, 17.80141977],
       ['SKMEGGPROD', 'SKM Egg Products Export (India) Ltd', 1541130,
        87775, 17.55773284],
       ['SWELECTES', 'Swelect Energy Systems Limited', 207954, 12276,
        16.93873284],
       ['NAHARPOLY', 'Nahar Poly Films Limited', 600043, 38574,
        15.55529728],
       ['PODDARHOUS', 'Poddar Housing and Development', 46040, 3012,
        15.28383313],
       ['LINC', 'Linc Limited', 60551, 4076, 14.85367349],
       ['SHIVAMILLS', 'Shiva Mills Limited', 142943, 10391, 13.7555413],
       ['PDMJEPAPER', 'Pudumjee Paper Products Limited', 1316284, 102646,
        12.8234253],
       ['DSSL', 'Dynacons Systems & Solutions Limited', 263641, 23439,
        11.2479628],
       ['ANDREWYU', 'Andrew Yule & Company Limited', 2448026, 230048,
        10.64133195],
       ['LAXMICOT', 'Laxmi Cotspin Limited', 198503, 19007, 10.44331235],
       ['REPL', 'Rudrabhishek Enterprises Limited', 660281, 65700,
        10.04991362],
       ['PILITA', 'PIL ITALICA LIFESTYLE LIMITED', 6864080, 685602,
        10.01175122],
       ['BHAGYAPROP', 'Bhagyanagar Properties Limited', 305594, 30596,
        9.987765618],
       ['MUNJALAU', 'Munjal Auto Industries Limited', 705322, 82307,
        8.569318028],
       ['ALKALI', 'Alkali Metals Limited', 157496, 19059, 8.26331454],
       ['INTENTECH', 'Intense Technologies Limited', 1252606, 164644,
        7.607958577],
       ['INDORAMA', 'Indo Rama Synthetics (India) Limited', 679204,
        89288, 7.606861665]], dtype=object)

also use another function to convert into array

In [18]:
import numpy as np

v = np.asarray(csv_1)
v

array([['ELECTTHERM', 'Electrotherm (India) Limited', 473907, 9457,
        50.11000282],
       ['NBIFIN', 'N. B. I. Industrial Finance Company', 5754, 154,
        37.20258621],
       ['HINDCON', 'Hindcon Chemicals Limited', 304759, 9248,
        32.95345023],
       ['GKWLIMITED', 'GKW Limited', 21375, 711, 30.04920337],
       ['21STCENMGM', '21st Century Management Services', 110375, 3879,
        28.45083129],
       ['ALPHAGEO', 'Alphageo (India) Limited', 232755, 8356,
        27.85261268],
       ['UNIENTER', 'Uniphos Enterprises Limited', 162601, 7553,
        21.52800212],
       ['JAGSNPHARM', 'Jagsonpal Pharmaceuticals Limited', 1301892,
        73134, 17.80141977],
       ['SKMEGGPROD', 'SKM Egg Products Export (India) Ltd', 1541130,
        87775, 17.55773284],
       ['SWELECTES', 'Swelect Energy Systems Limited', 207954, 12276,
        16.93873284],
       ['NAHARPOLY', 'Nahar Poly Films Limited', 600043, 38574,
        15.55529728],
       ['PODDARHOUS', 'Poddar Housing and Development', 46040, 3012,
        15.28383313],
       ['LINC', 'Linc Limited', 60551, 4076, 14.85367349],
       ['SHIVAMILLS', 'Shiva Mills Limited', 142943, 10391, 13.7555413],
       ['PDMJEPAPER', 'Pudumjee Paper Products Limited', 1316284, 102646,
        12.8234253],
       ['DSSL', 'Dynacons Systems & Solutions Limited', 263641, 23439,
        11.2479628],
       ['ANDREWYU', 'Andrew Yule & Company Limited', 2448026, 230048,
        10.64133195],
       ['LAXMICOT', 'Laxmi Cotspin Limited', 198503, 19007, 10.44331235],
       ['REPL', 'Rudrabhishek Enterprises Limited', 660281, 65700,
        10.04991362],
       ['PILITA', 'PIL ITALICA LIFESTYLE LIMITED', 6864080, 685602,
        10.01175122],
       ['BHAGYAPROP', 'Bhagyanagar Properties Limited', 305594, 30596,
        9.987765618],
       ['MUNJALAU', 'Munjal Auto Industries Limited', 705322, 82307,
        8.569318028],
       ['ALKALI', 'Alkali Metals Limited', 157496, 19059, 8.26331454],
       ['INTENTECH', 'Intense Technologies Limited', 1252606, 164644,
        7.607958577],
       ['INDORAMA', 'Indo Rama Synthetics (India) Limited', 679204,
        89288, 7.606861665]], dtype=object)

agar hme data ko descending order me show krna hai than use

In [19]:
csv_1.sort_index(axis=0,ascending=False)

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
24,INDORAMA,Indo Rama Synthetics (India) Limited,679204,89288,7.606862
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959
22,ALKALI,Alkali Metals Limited,157496,19059,8.263315
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569318
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.011751
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049914
17,LAXMICOT,Laxmi Cotspin Limited,198503,19007,10.443312
16,ANDREWYU,Andrew Yule & Company Limited,2448026,230048,10.641332
15,DSSL,Dynacons Systems & Solutions Limited,263641,23439,11.247963
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.823425
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541
12,LINC,Linc Limited,60551,4076,14.853673
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833
10,NAHARPOLY,Nahar Poly Films Limited,600043,38574,15.555297
9,SWELECTES,Swelect Energy Systems Limited,207954,12276,16.938733
8,SKMEGGPROD,SKM Egg Products Export (India) Ltd,1541130,87775,17.557733
7,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892,73134,17.801420
6,UNIENTER,Uniphos Enterprises Limited,162601,7553,21.528002
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613
4,21STCENMGM,21st Century Management Services,110375,3879,28.450831
3,GKWLIMITED,GKW Limited,21375,711,30.049203
2,HINDCON,Hindcon Chemicals Limited,304759,9248,32.953450
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586
0,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.110003

agar hme kisi column ke andar ka data change karna hai then use

In [21]:
csv_1.loc[0,"SYMBOL"] = "python"

csv_1

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,python,Electrotherm (India) Limited,473907,9457,50.110003
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586
2,HINDCON,Hindcon Chemicals Limited,304759,9248,32.953450
3,GKWLIMITED,GKW Limited,21375,711,30.049203
4,21STCENMGM,21st Century Management Services,110375,3879,28.450831
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613
6,UNIENTER,Uniphos Enterprises Limited,162601,7553,21.528002
7,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892,73134,17.801420
8,SKMEGGPROD,SKM Egg Products Export (India) Ltd,1541130,87775,17.557733
9,SWELECTES,Swelect Energy Systems Limited,207954,12276,16.938733
10,NAHARPOLY,Nahar Poly Films Limited,600043,38574,15.555297
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833
12,LINC,Linc Limited,60551,4076,14.853673
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.823425
15,DSSL,Dynacons Systems & Solutions Limited,263641,23439,11.247963
16,ANDREWYU,Andrew Yule & Company Limited,2448026,230048,10.641332
17,LAXMICOT,Laxmi Cotspin Limited,198503,19007,10.443312
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049914
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.011751
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569318
22,ALKALI,Alkali Metals Limited,157496,19059,8.263315
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959
24,INDORAMA,Indo Rama Synthetics (India) Limited,679204,89288,7.606862

loc function ka use krke hm kisi particular data ko bhi get kr skte hai

In [22]:
csv_1.loc[[2,3],["SYMBOL","SECURITY"]]

       SYMBOL                   SECURITY
2     HINDCON  Hindcon Chemicals Limited
3  GKWLIMITED                GKW Limited

agar hme SYMBOL & SECURITY ka sara data chahiye then use

In [24]:
csv_1.loc[:,["SYMBOL","SECURITY"]]

        SYMBOL                              SECURITY
0       python          Electrotherm (India) Limited
1       NBIFIN   N. B. I. Industrial Finance Company
2      HINDCON             Hindcon Chemicals Limited
3   GKWLIMITED                           GKW Limited
4   21STCENMGM      21st Century Management Services
5     ALPHAGEO              Alphageo (India) Limited
6     UNIENTER           Uniphos Enterprises Limited
7   JAGSNPHARM     Jagsonpal Pharmaceuticals Limited
8   SKMEGGPROD   SKM Egg Products Export (India) Ltd
9    SWELECTES        Swelect Energy Systems Limited
10   NAHARPOLY              Nahar Poly Films Limited
11  PODDARHOUS        Poddar Housing and Development
12        LINC                          Linc Limited
13  SHIVAMILLS                   Shiva Mills Limited
14  PDMJEPAPER       Pudumjee Paper Products Limited
15        DSSL  Dynacons Systems & Solutions Limited
16    ANDREWYU         Andrew Yule & Company Limited
17    LAXMICOT                 Laxmi Cotspin Limited
18        REPL      Rudrabhishek Enterprises Limited
19      PILITA         PIL ITALICA LIFESTYLE LIMITED
20  BHAGYAPROP        Bhagyanagar Properties Limited
21    MUNJALAU        Munjal Auto Industries Limited
22      ALKALI                 Alkali Metals Limited
23   INTENTECH          Intense Technologies Limited
24    INDORAMA  Indo Rama Synthetics (India) Limited

similary agar hme sirf 2,3 ka data chahiye then use

In [25]:
csv_1.loc[[2,3],:]

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
2,HINDCON,Hindcon Chemicals Limited,304759,9248,32.953450
3,GKWLIMITED,GKW Limited,21375,711,30.049203

agar hme kisi bhi row ke particular data ko get karna hai then use iloc method

In [26]:
csv_1.iloc[0,1]

'Electrotherm (India) Limited'

In [27]:
csv_1.iloc[0,2]

np.int64(473907)

if we want to drop a particular column

In [28]:
csv_1.drop("SECURITY",axis=1)

        SYMBOL  TODAY - VOLUME  AVG. VOLUME     CHANGE
0       python          473907         9457  50.110003
1       NBIFIN            5754          154  37.202586
2      HINDCON          304759         9248  32.953450
3   GKWLIMITED           21375          711  30.049203
4   21STCENMGM          110375         3879  28.450831
5     ALPHAGEO          232755         8356  27.852613
6     UNIENTER          162601         7553  21.528002
7   JAGSNPHARM         1301892        73134  17.801420
8   SKMEGGPROD         1541130        87775  17.557733
9    SWELECTES          207954        12276  16.938733
10   NAHARPOLY          600043        38574  15.555297
11  PODDARHOUS           46040         3012  15.283833
12        LINC           60551         4076  14.853673
13  SHIVAMILLS          142943        10391  13.755541
14  PDMJEPAPER         1316284       102646  12.823425
15        DSSL          263641        23439  11.247963
16    ANDREWYU         2448026       230048  10.641332
17    LAXMICOT          198503        19007  10.443312
18        REPL          660281        65700  10.049914
19      PILITA         6864080       685602  10.011751
20  BHAGYAPROP          305594        30596   9.987766
21    MUNJALAU          705322        82307   8.569318
22      ALKALI          157496        19059   8.263315
23   INTENTECH         1252606       164644   7.607959
24    INDORAMA          679204        89288   7.606862

if we want to drop a particular row

In [29]:
csv_1.drop(0,axis=0)

,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
1,NBIFIN,N. B. I. Industrial Finance Company,5754,154,37.202586
2,HINDCON,Hindcon Chemicals Limited,304759,9248,32.953450
3,GKWLIMITED,GKW Limited,21375,711,30.049203
4,21STCENMGM,21st Century Management Services,110375,3879,28.450831
5,ALPHAGEO,Alphageo (India) Limited,232755,8356,27.852613
6,UNIENTER,Uniphos Enterprises Limited,162601,7553,21.528002
7,JAGSNPHARM,Jagsonpal Pharmaceuticals Limited,1301892,73134,17.801420
8,SKMEGGPROD,SKM Egg Products Export (India) Ltd,1541130,87775,17.557733
9,SWELECTES,Swelect Energy Systems Limited,207954,12276,16.938733
10,NAHARPOLY,Nahar Poly Films Limited,600043,38574,15.555297
11,PODDARHOUS,Poddar Housing and Development,46040,3012,15.283833
12,LINC,Linc Limited,60551,4076,14.853673
13,SHIVAMILLS,Shiva Mills Limited,142943,10391,13.755541
14,PDMJEPAPER,Pudumjee Paper Products Limited,1316284,102646,12.823425
15,DSSL,Dynacons Systems & Solutions Limited,263641,23439,11.247963
16,ANDREWYU,Andrew Yule & Company Limited,2448026,230048,10.641332
17,LAXMICOT,Laxmi Cotspin Limited,198503,19007,10.443312
18,REPL,Rudrabhishek Enterprises Limited,660281,65700,10.049914
19,PILITA,PIL ITALICA LIFESTYLE LIMITED,6864080,685602,10.011751
20,BHAGYAPROP,Bhagyanagar Properties Limited,305594,30596,9.987766
21,MUNJALAU,Munjal Auto Industries Limited,705322,82307,8.569318
22,ALKALI,Alkali Metals Limited,157496,19059,8.263315
23,INTENTECH,Intense Technologies Limited,1252606,164644,7.607959
24,INDORAMA,Indo Rama Synthetics (India) Limited,679204,89288,7.606862