# Replace

In [1]:
import pandas as pd

var = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//stocks_data2.csv")

var

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,HINDCON,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,GKWLIMITED,GKW Limited,21375,711,30.04920
4,5,21STCENMGM,21st Century Management Serv,110375,3879,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,1,8356,27.85261
6,7,UNIENTER,Uniphos Enterprises Limited,1,8357,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim,1,73134,17.80142
8,9,SKMEGGPROD,SKM Egg Products Export (India,1,87775,18.80142
9,10,SWELECTES,Swelect Energy Systems Limite,1,87776,16.93873
10,11,NAHARPOLY,Nahar Poly Films Limited,1,38574,15.55530
11,12,PODDARHOUS,Poddar Housing and Developm,1,3012,15.28383
12,13,LINC,Linc Limited,60551,4076,14.85367
13,14,LINC123,Linc Limited123,60550,4075,15.85367

In [2]:
var.replace(to_replace=1,value=22)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,22,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,HINDCON,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,GKWLIMITED,GKW Limited,21375,711,30.04920
4,5,21STCENMGM,21st Century Management Serv,110375,3879,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,22,8356,27.85261
6,7,UNIENTER,Uniphos Enterprises Limited,22,8357,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim,22,73134,17.80142
8,9,SKMEGGPROD,SKM Egg Products Export (India,22,87775,18.80142
9,10,SWELECTES,Swelect Energy Systems Limite,22,87776,16.93873
10,11,NAHARPOLY,Nahar Poly Films Limited,22,38574,15.55530
11,12,PODDARHOUS,Poddar Housing and Developm,22,3012,15.28383
12,13,LINC,Linc Limited,60551,4076,14.85367
13,14,LINC123,Linc Limited123,60550,4075,15.85367

In [3]:
var.replace(to_replace="ELECTTHERM",value="python")

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,python,Electrotherm (India) Limited,473907,9457,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,HINDCON,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,GKWLIMITED,GKW Limited,21375,711,30.04920
4,5,21STCENMGM,21st Century Management Serv,110375,3879,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,1,8356,27.85261
6,7,UNIENTER,Uniphos Enterprises Limited,1,8357,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim,1,73134,17.80142
8,9,SKMEGGPROD,SKM Egg Products Export (India,1,87775,18.80142
9,10,SWELECTES,Swelect Energy Systems Limite,1,87776,16.93873
10,11,NAHARPOLY,Nahar Poly Films Limited,1,38574,15.55530
11,12,PODDARHOUS,Poddar Housing and Developm,1,3012,15.28383
12,13,LINC,Linc Limited,60551,4076,14.85367
13,14,LINC123,Linc Limited123,60550,4075,15.85367

In [5]:
var.replace([1,2,3,4,5,6,7,8,9,10,11],22)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,22,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.11000
1,22,NBIFIN,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,22,HINDCON,Hindcon Chemicals Limited,304759,9248,32.95345
3,22,GKWLIMITED,GKW Limited,21375,711,30.04920
4,22,21STCENMGM,21st Century Management Serv,110375,3879,31.04920
5,22,ALPHAGEO,Alphageo (India) Limited,22,8356,27.85261
6,22,UNIENTER,Uniphos Enterprises Limited,22,8357,21.52800
7,22,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim,22,73134,17.80142
8,22,SKMEGGPROD,SKM Egg Products Export (India,22,87775,18.80142
9,22,SWELECTES,Swelect Energy Systems Limite,22,87776,16.93873
10,22,NAHARPOLY,Nahar Poly Films Limited,22,38574,15.55530
11,12,PODDARHOUS,Poddar Housing and Developm,22,3012,15.28383
12,13,LINC,Linc Limited,60551,4076,14.85367
13,14,LINC123,Linc Limited123,60550,4075,15.85367

replacing the data using regex parameter

In [7]:
var.replace("[A-Za-z]","python",regex=True)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,473907,9457,50.11000
1,2,pythonpythonpythonpythonpythonpython,python. python. python. pythonpythonpythonpyth...,5754,154,37.20259
2,3,pythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpython pyt...,304759,9248,32.95345
3,4,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpython pythonpythonpythonpythonpyt...,21375,711,30.04920
4,5,21pythonpythonpythonpythonpythonpythonpythonpy...,21pythonpython pythonpythonpythonpythonpythonp...,110375,3879,31.04920
5,6,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpythonpyth...,1,8356,27.85261
6,7,pythonpythonpythonpythonpythonpythonpythonpython,pythonpythonpythonpythonpythonpythonpython pyt...,1,8357,21.52800
7,8,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpythonpyth...,1,73134,17.80142
8,9,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpython pythonpythonpython pythonpy...,1,87775,18.80142
9,10,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpythonpython pyt...,1,87776,16.93873
10,11,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpython pythonpythonpyt...,1,38574,15.55530
11,12,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpythonpythonpythonpython pythonpyt...,1,3012,15.28383
12,13,pythonpythonpythonpython,pythonpythonpythonpython pythonpythonpythonpyt...,60551,4076,14.85367
13,14,pythonpythonpythonpython123,pythonpythonpythonpython pythonpythonpythonpyt...,60550,4075,15.85367

agar hme sare capital letter ko python se replace krna hai than use

In [8]:
var.replace("[A-Z]","python",regex=True)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonlectrotherm (pythonndia) pythonimited,473907,9457,50.11000
1,2,pythonpythonpythonpythonpythonpython,python. python. python. pythonndustrial python...,5754,154,37.20259
2,3,pythonpythonpythonpythonpythonpythonpython,pythonindcon pythonhemicals pythonimited,304759,9248,32.95345
3,4,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpython pythonimited,21375,711,30.04920
4,5,21pythonpythonpythonpythonpythonpythonpythonpy...,21st pythonentury pythonanagement pythonerv,110375,3879,31.04920
5,6,pythonpythonpythonpythonpythonpythonpythonpython,pythonlphageo (pythonndia) pythonimited,1,8356,27.85261
6,7,pythonpythonpythonpythonpythonpythonpythonpython,pythonniphos pythonnterprises pythonimited,1,8357,21.52800
7,8,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonagsonpal pythonharmaceuticals pythonim,1,73134,17.80142
8,9,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonpythonpython pythongg pythonroducts pyth...,1,87775,18.80142
9,10,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonwelect pythonnergy pythonystems pythonimite,1,87776,16.93873
10,11,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonahar pythonoly pythonilms pythonimited,1,38574,15.55530
11,12,pythonpythonpythonpythonpythonpythonpythonpyth...,pythonoddar pythonousing and pythonevelopm,1,3012,15.28383
12,13,pythonpythonpythonpython,pythoninc pythonimited,60551,4076,14.85367
13,14,pythonpythonpythonpython123,pythoninc pythonimited123,60550,4075,15.85367

replace ke andar dictionary ki help se bhi chijo ko replace kr skte hai

In [11]:
var.replace({"SYMBOL":'[A-Z]'},22,regex=True)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,22,Electrotherm (India) Limited,473907,9457,50.11000
1,2,22,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,22,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,22,GKW Limited,21375,711,30.04920
4,5,22,21st Century Management Serv,110375,3879,31.04920
5,6,22,Alphageo (India) Limited,1,8356,27.85261
6,7,22,Uniphos Enterprises Limited,1,8357,21.52800
7,8,22,Jagsonpal Pharmaceuticals Lim,1,73134,17.80142
8,9,22,SKM Egg Products Export (India,1,87775,18.80142
9,10,22,Swelect Energy Systems Limite,1,87776,16.93873
10,11,22,Nahar Poly Films Limited,1,38574,15.55530
11,12,22,Poddar Housing and Developm,1,3012,15.28383
12,13,22,Linc Limited,60551,4076,14.85367
13,14,22,Linc Limited123,60550,4075,15.85367

Using a method parameter to replace it from backword and farword data

In [12]:
var.replace(1,method="ffill")

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_84796/4173063640.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1,method="ffill")

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,22,Electrotherm (India) Limited,473907,9457,50.11000
1,2,22,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,22,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,22,GKW Limited,21375,711,30.04920
4,5,22,21st Century Management Serv,110375,3879,31.04920
5,6,22,Alphageo (India) Limited,110375,8356,27.85261
6,7,22,Uniphos Enterprises Limited,110375,8357,21.52800
7,8,22,Jagsonpal Pharmaceuticals Lim,110375,73134,17.80142
8,9,22,SKM Egg Products Export (India,110375,87775,18.80142
9,10,22,Swelect Energy Systems Limite,110375,87776,16.93873
10,11,22,Nahar Poly Films Limited,110375,38574,15.55530
11,12,22,Poddar Housing and Developm,110375,3012,15.28383
12,13,22,Linc Limited,60551,4076,14.85367
13,14,22,Linc Limited123,60550,4075,15.85367

In [13]:
var.replace(1,method="bfill")

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_84796/1975081475.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1,method="bfill")

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,2,22,Electrotherm (India) Limited,473907,9457,50.11000
1,2,22,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,22,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,22,GKW Limited,21375,711,30.04920
4,5,22,21st Century Management Serv,110375,3879,31.04920
5,6,22,Alphageo (India) Limited,60551,8356,27.85261
6,7,22,Uniphos Enterprises Limited,60551,8357,21.52800
7,8,22,Jagsonpal Pharmaceuticals Lim,60551,73134,17.80142
8,9,22,SKM Egg Products Export (India,60551,87775,18.80142
9,10,22,Swelect Energy Systems Limite,60551,87776,16.93873
10,11,22,Nahar Poly Films Limited,60551,38574,15.55530
11,12,22,Poddar Housing and Developm,60551,3012,15.28383
12,13,22,Linc Limited,60551,4076,14.85367
13,14,22,Linc Limited123,60550,4075,15.85367

limit parameter: Iske through hm kitne data ko replace krna chahte hai vo isme pass kr skte hai.

In [14]:
var.replace(1,method="ffill",limit=3)

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_84796/271419978.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1,method="ffill",limit=3)

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,22,Electrotherm (India) Limited,473907,9457,50.11000
1,2,22,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,22,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,22,GKW Limited,21375,711,30.04920
4,5,22,21st Century Management Serv,110375,3879,31.04920
5,6,22,Alphageo (India) Limited,110375,8356,27.85261
6,7,22,Uniphos Enterprises Limited,110375,8357,21.52800
7,8,22,Jagsonpal Pharmaceuticals Lim,110375,73134,17.80142
8,9,22,SKM Egg Products Export (India,1,87775,18.80142
9,10,22,Swelect Energy Systems Limite,1,87776,16.93873
10,11,22,Nahar Poly Films Limited,1,38574,15.55530
11,12,22,Poddar Housing and Developm,1,3012,15.28383
12,13,22,Linc Limited,60551,4076,14.85367
13,14,22,Linc Limited123,60550,4075,15.85367

inplace function: agar hmne kisi data ko replace kiya to vo us data ki copy nhi bnayega, ye original data ke andar hi replace kr deta

In [16]:
import pandas as pd

var = pd.read_csv("//Users//princemaurya//Desktop//Jupyter//stocks_data2.csv")

var

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,HINDCON,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,GKWLIMITED,GKW Limited,21375,711,30.04920
4,5,21STCENMGM,21st Century Management Serv,110375,3879,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,1,8356,27.85261
6,7,UNIENTER,Uniphos Enterprises Limited,1,8357,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim,1,73134,17.80142
8,9,SKMEGGPROD,SKM Egg Products Export (India,1,87775,18.80142
9,10,SWELECTES,Swelect Energy Systems Limite,1,87776,16.93873
10,11,NAHARPOLY,Nahar Poly Films Limited,1,38574,15.55530
11,12,PODDARHOUS,Poddar Housing and Developm,1,3012,15.28383
12,13,LINC,Linc Limited,60551,4076,14.85367
13,14,LINC123,Linc Limited123,60550,4075,15.85367

In [27]:
import pandas as pd
import numpy as np

# Step 1: Replace 1s with NaN
var_replaced = var.replace(1, np.nan)

# Step 2: Forward fill (only NaNs)
var_filled = var_replaced.ffill(limit=3,inplace=True)

# Step 3: Update original DataFrame #chatgpt
var.update(var_filled)

print(var)

    NO.      SYMBOL                          SECURITY  TODAY - VOLUME  \
0     1  ELECTTHERM      Electrotherm (India) Limited          473907
1     2      NBIFIN  N. B. I. Industrial Finance Comp            5754
2     3     HINDCON         Hindcon Chemicals Limited          304759
3     4  GKWLIMITED                       GKW Limited           21375
4     5  21STCENMGM      21st Century Management Serv          110375
5     6    ALPHAGEO          Alphageo (India) Limited          110375
6     7    UNIENTER       Uniphos Enterprises Limited          110375
7     8  JAGSNPHARM     Jagsonpal Pharmaceuticals Lim          110375
8     9  SKMEGGPROD    SKM Egg Products Export (India          110375
9    10   SWELECTES     Swelect Energy Systems Limite          110375
10   11   NAHARPOLY          Nahar Poly Films Limited          110375
11   12  PODDARHOUS       Poddar Housing and Developm          110375
12   13        LINC                      Linc Limited           60551
13   14     LINC123                   Linc Limited123           60550

    AVG. VOLUME    CHANGE
0          9457  50.11000
1           154  37.20259
2          9248  32.95345
3           711  30.04920
4          3879  31.04920
5          8356  27.85261
6          8357  21.52800
7         73134  17.80142
8         87775  18.80142
9         87776  16.93873
10        38574  15.55530
11         3012  15.28383
12         4076  14.85367
13         4075  15.85367

In [24]:
var.replace(1,method="ffill",limit=3,inplace=True) # Sir method

/var/folders/vr/7t268mj15cs8q9p_d0sw8j_h0000gn/T/ipykernel_84796/2766965574.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1,method="ffill",limit=3,inplace=True)

In [26]:
var

,NO.,SYMBOL,SECURITY,TODAY - VOLUME,AVG. VOLUME,CHANGE
0,1,ELECTTHERM,Electrotherm (India) Limited,473907,9457,50.11000
1,2,NBIFIN,N. B. I. Industrial Finance Comp,5754,154,37.20259
2,3,HINDCON,Hindcon Chemicals Limited,304759,9248,32.95345
3,4,GKWLIMITED,GKW Limited,21375,711,30.04920
4,5,21STCENMGM,21st Century Management Serv,110375,3879,31.04920
5,6,ALPHAGEO,Alphageo (India) Limited,110375,8356,27.85261
6,7,UNIENTER,Uniphos Enterprises Limited,110375,8357,21.52800
7,8,JAGSNPHARM,Jagsonpal Pharmaceuticals Lim,110375,73134,17.80142
8,9,SKMEGGPROD,SKM Egg Products Export (India,110375,87775,18.80142
9,10,SWELECTES,Swelect Energy Systems Limite,110375,87776,16.93873
10,11,NAHARPOLY,Nahar Poly Films Limited,110375,38574,15.55530
11,12,PODDARHOUS,Poddar Housing and Developm,110375,3012,15.28383
12,13,LINC,Linc Limited,60551,4076,14.85367
13,14,LINC123,Linc Limited123,60550,4075,15.85367